.box1{
    background-color: #0e101b; 
    height: "120px";
}

.redes{
    font-size: 60px !important;
    color: #e71111;
}

.box2{
    background-color: #0e101b;
    height: 60px;
}

.textos{
    color: #f5eded;
}