.caixa{
    background-color: #0e101b
}

.titulo{
    color: #f5eded !important;
    font-weight: bold !important;
}

.botao{
    border-color: #e71111 !important; 
    background-color: #e71111;
    color: #e71111 !important;
}

.postagens{
    background-color: #0e101b;
}

.text-decorator-none{
    text-decoration: none;
}